body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c8c4c4;
}

#container {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px 0px;
}

header > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 5px;
}

li > a{
    text-decoration: none;
}

li > a:hover {
    color: red;
}

h1{
    text-align: center;
    color: black;
}